body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fde400;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1em 2em;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 2em;
}

.nav-links a {
    color: #fde400;
    text-decoration: none;
    padding: 0.5em;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.hero-section {
    position: relative;
    text-align: center;
    color: #fde400;
}

.hero-section img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px #000;
}

.hero-text h1 {
    font-size: 4em;
    margin: 0;
}

main {
    padding: 2em;
}

.content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.content-section:nth-of-type(even) {
    background-color: #1a1a1a;
}

.text-block, .image-block {
    flex: 1 1 calc(50% - 2em);
    padding: 1em;
}

.text-block h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.text-block p, .text-block ul {
    font-size: 1.2em;
    line-height: 1.6;
}

.text-block ul {
    padding-left: 1.5em;
}

.image-block img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.image-block img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: #fde400;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

/* Media Queries */
@media (max-width: 1024px) {
    .content-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .text-block, .image-block {
        flex: 1 1 100%;
    }

    .hero-text h1 {
        font-size: 3em;
    }

    .hero-text p {
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .navbar {
        flex-direction: column;
    }

    .hero-text h1 {
        font-size: 2.5em;
    }

    .hero-text p {
        font-size: 1em;
    }

    .content-section {
        padding: 2em 1em;
    }

    .text-block h2 {
        font-size: 2em;
    }

    .text-block p, .text-block ul {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .hero-text h1 {
        font-size: 2em;
    }

    .hero-text p {
        font-size: 0.8em;
    }

    .text-block h2 {
        font-size: 1.5em;
    }

    .text-block p, .